@import 'tailwindcss';
@import '@fontsource-variable/nunito';

@layer base {
	html {
		scrollbar-gutter: stable;
	}

	html,
	body {
		@apply bg-background text-foreground;
	}

	html,
	body,
	#root {
		height: 100%;
	}

	* {
		@apply border-border;
	}
}

:root {
	--background: var(--color-white);
	--foreground: var(--color-zinc-800);

	--primary: var(--color-sky-500);
	--primary-foreground: var(--color-white);

	--secondary: var(--color-zinc-50);
	--secondary-foreground: var(--color-zinc-800);

	--muted: var(--color-zinc-100);
	--muted-foreground: var(--color-zinc-500);

	--border: var(--color-zinc-200);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--color-zinc-950);
		--foreground: var(--color-zinc-100);

		--primary: var(--color-sky-400);
		--primary-foreground: var(--color-zinc-950);

		--secondary: var(--color-zinc-900);
		--secondary-foreground: var(--color-zinc-100);

		--muted: var(--color-zinc-800);
		--muted-foreground: var(--color-zinc-400);

		--border: var(--color-zinc-700);
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-border: var(--border);
}

@theme {
	--font-sans: 'Nunito Variable';
	--radius: 1rem;
}
